 $fuente: 'Raleway', sans-serif;

 /*mapa*/
 $fuentes: (
     "small":300,
     "regular":500,
     "bold":700
 );
 /*mapa*/
 
 
 /*color body*/
 $background--color-body: linear-gradient(to bottom, rgb(0, 0, 0), rgb(14, 1, 9), rgb(28, 2, 18), rgb(43, 3, 27), rgb(57, 4, 36), rgb(71, 5, 45), rgb(59, 4, 38), rgb(47, 3, 30), rgb(36, 3, 23), rgb(24, 2, 15), rgb(12, 1, 8), rgb(0, 0, 0));
 $background--color-head: rgb(49, 49, 49);
 /*color body*/


